.edno {
    color: red;
    padding : 0.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.edyes {
    color: green;
    padding : 0.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.editable:hover {
   text-decoration: underline dotted blue;
}

.editable.disabled{
    color: #777;
    text-decoration: none;
}

.edempty {
    color: red;
    text-decoration: underline solid blue;
}

.popover {
    width: 100%;
    z-index: 1200;
}

.poptext, .popselect {
    max-width: 30vw;
}

.pophtml, .poptextarea {
    max-width: 60vw;
}

.popover-body input, .popover-body select {
    width: 100%;
    max-width: 30vw;
}

.popover-body textarea {
    width: 100%;
    max-width: 60vw;
}

.popup-background {
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     background-color: #666;
     opacity: 0;
     z-index: 1000;
     transition: all 0.5 linear;
     -webkit-transition: all 0.5 linear;
     -moz-transition: all 0.5 linear;
     -o-transition: all 0.5 linear;
}
.popup-background.visible {
     opacity: 0.5;
}